// ==========================================================================
// Footer
// ==========================================================================

@import "../../styles/shared";

footer.global {
  // background: #193c51;
  width: 100%;
  align-self: end;
  padding: $space-md 0;
  //font-size: $font-size-xs;
  text-align: center;

  nav {
    margin-bottom: $space-md;
    flex-wrap: wrap;
    justify-content: space-around;

    a {
      color: $brand-primary;
      font-size: $font-size-sm;
      flex-basis: 33.333%;
      margin-bottom: $space-sm;
      padding: $space-sm;

      @include for-tablet-portrait-up {
        flex-basis: auto;
      }
    }

    svg path {
      transition: 0.35s all;
    }

    svg:not(:hover) {
      path {
        //fill: $brand-primary;
        fill: $brand-med;
      }
    }
  }

  p {
    font-size: $font-size-sm;

    @include for-tablet-portrait-up {
      font-size: $font-size-xs;
    }
  }
}
