// ==========================================================================
// Footer
// ==========================================================================

@import "../../styles/shared";

footer.global {
  background: $purple;
  width: 100%;
  align-self: end;
  padding: $space-md 0;
  //font-size: $font-size-xs;
  color: $white;
  text-align: center;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $space-sm;

    a {
      color: $brand-primary;
      font-size: $font-size-sm;
      padding: $space-xs;

      @include for-tablet-portrait-up {
        flex-basis: auto;
        padding: $space-sm;
      }
    }

    @include for-tablet-landscape-up {
      margin-bottom: $space-md;
    }


    svg path {
      transition: 0.35s all;
    }

    svg:not(:hover) {
      path {
        //fill: $brand-primary;
        fill: $brand-med;
        transform-origin: center;
      }
    }
  }

  p {
    font-size: $font-size-sm;

    @include for-tablet-portrait-up {
      font-size: $font-size-xs;
    }
  }
}
