// ==========================================================================
// Project Card
// ==========================================================================

@import "../../styles/shared";

project-card {
  background: $brand-primary;
  background-size: cover;
  background-blend-mode: soft-light;
  background-position: center center;
  //background-repeat: repeat-y;
  //filter: grayscale(25%) contrast(2);
  display: block;
  padding: $space-sm;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
  position: relative;
  transition: 0.35s all;

  figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    position: relative;

    @include for-tablet-landscape-up {
      min-height: 350px;
    }

    .client-logo {
      width: 40px;
      height: auto;
    }

    h3 {
      font-size: $font-size-sm;
      font-weight: $font-weight-light;
      text-transform: uppercase;
      letter-spacing: 2px;
      align-self: flex-end;

      @include for-tablet-landscape-up {
        font-size: $font-size-xs;
      }
    }
  }

  &:hover {
    @include for-desktop-up {
      transform: translate3d(0px, -1px, 0px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 33px,
        rgba(0, 0, 0, 0.18) 0px 4px 11px;
    }
  }
}
