// ==========================================================================
// Project List Container
// ==========================================================================

@import "../../styles/shared";

project-list-container {
  display: block;
  margin-bottom: $space-lg;

  h1 {
    animation: moveInText 0.5s both;
  }

  .grid {
    //animation: moveInText 0.5s both;
    display: grid;
    grid-gap: $space-sm;

    @include for-tablet-portrait-up {
      grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    }

    &.playground {
      @include for-tablet-portrait-up {
        grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
      }
    }
  }
}
