// ==========================================================================
// Project List Container
// ==========================================================================

@import "../../styles/shared";

.grid {
  display: grid;
  grid-gap: $space-sm;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));

  img {
    //width: 50vw;
    //object-fit: contain;
  }

  &.playground {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
