// ==========================================================================
// Animations
// ==========================================================================

@keyframes moveIn {
  from {
    transform: translateY(-20%);
    //opacity: 0;
  }
  to {
    transform: translateY(20%);
    //opacity: 1;
  }
}

@keyframes moveInText {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes moveInHero {
  from {
    transform: translateY(-1%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
