// ==========================================================================
// Animations
// ==========================================================================

@keyframes moveIn {
  from {
    transform: translateY(-20%);
    //opacity: 0;
  }

  to {
    transform: translateY(20%);
    //opacity: 1;
  }
}

@keyframes moveInText {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes moveInHero {
  from {
    transform: rotate(6deg);
    opacity: 0;
  }

  to {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s both;
}

// @keyframes fontWeightGrow {
//   0 {
//     font-weight: 100;
//     //font-size: 1rem;
//   }

//   50% {
//     font-weight: 900;
//     //font-size: 3rem;
//   }

//   100% {
//     font-weight: 100;
//     //font-size: 1rem;
//   }
// }

// .font-weight-grow--anim {
//   animation: fontWeightGrow 2s both infinite;
// }
