// ==========================================================================
// Fonts
// ==========================================================================

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@font-face {
  font-family: "Work Sans";
  font-display: auto;
  src: url("./work-sans/WorkSans-Roman-VF.ttf");
  font-weight: 1 900;
}
