// ==========================================================================
// Fonts
// ==========================================================================

@font-face {
  font-family: work-sans;
  src: url("./work-sans/work-sans-300.woff");
  font-weight: 300;
}
