// ==========================================================================
// Typography
// ==========================================================================

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,600&display=swap');

p {
  font-size: $font-size-sm;
  margin-bottom: $space-sm;

  a {
    color: $brand-primary;
    transition: $transition-all-ease;
    text-decoration: none;

    &:hover {
      //color: saturate($brand-primary, 30);
      text-decoration: underline;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-headings;
  font-weight: $font-weight-medium;
}

h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-regular;
  line-height: 1;
  margin-bottom: $space-sm;
  //color: $purple;
  //text-transform: uppercase;

  @include for-tablet-landscape-up {
    letter-spacing: -1px;
  }
}

h2 {
  font-size: $font-size-lg;
}

h3 {
  font-size: $font-size-md;
}

h4 {
  font-size: $font-size-sm;
}

h5 {
  font-size: $font-size-xs;
}
