// ==========================================================================
// Variables
// ==========================================================================

//
// Spacing
// ==========================================================================

$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;
$space-xl: 6rem;
$space-xxl: 8rem;

// Gutters
$gutter-global: $space-sm;

//
// Fonts
// ==========================================================================

// add variable font...
//@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200..900&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');

// Fonts
$font-family-base: "Lato";
$font-family-headings: "Work Sans",
sans-serif;

// Font Size
$font-size-xxs: 0.25rem;
$font-size-xs: 0.625rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2.25rem;
$font-size-xl: 3.375rem;
$font-size-xxl: 5.063rem;
$font-size-xxxl: 7.594rem;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;

//
// Colors
// ==========================================================================

// Basic Colors
$brand-primary: #145CFB;
//$brand-primary: #3A61E0;
$brand-light: lighten($brand-primary, 43%);
$brand-med: lighten($brand-primary, 30%);
$brand-dark: darken($brand-primary, 40%);
$brand-reverse: adjust-hue($brand-primary, 180deg);
$white: #fff;
$semi-transparent-white: rgba(255, 255, 255, 0.9);
$semi-transparent-black: rgba(0, 0, 0, 0.9);
$off-white: #fafafa;
$gray-light: #e0e0e0;
$gray-med: #959595;
$gray-dark: #565656;
$off-gray: #39435a;
$off-black: #201e1e;
$black: #000;
$red: #ff6868;
$yellow-light: adjust-hue($brand-light, 180deg);

// Functional Colors
$color-bg-body: #fffefb;
$color-bg-body-semi-transparent: $semi-transparent-white;
$color-bg-content: $off-white; // content backgrounds
$color-border: $gray-light; // borders
$color-text-body: $off-black;
$color-text-primary: $off-gray; // text & graphics
$color-text-secondary: $gray-dark; // text & graphics
$color-link: $brand-primary;
$color-warning: orange; // TBD
$color-success: green; // TBD
$color-danger: red; // TBD
$black-button-hover: rgba(117, 117, 117, 0.95);
$red-button-hover: #ea5a67;
$red-button-disabled: lighten($brand-primary, 40%);
$grey-button-disabled: lighten($gray-med, 40%);

//
// Transitions
// ==========================================================================

$transition-default: cubic-bezier(0.77, 0, 0.175, 1);
$transition-all-ease: 0.3s ease 0s;


//
$border-radius: 4px;
//
// Z-Index
// ==========================================================================
