@import "reset";
@import "shared";
@import "fonts";
@import "typography";

html {
  font-family: "Work Sans";
  font-display: optional;
  min-height: 100%;
}

body {
  font-size: $font-size-sm;
  background: $color-bg-body;
  color: $black;
}

@include for-tablet-portrait-up {
  body {
    //font-size: calc(14px + 8 * ((100vw - 320px) / 960));
  }
}

@include for-desktop-up {
  body {
    //font-size: $font-size-lg;
  }
}

img {
  width: 100%;
}

button {
  padding: 1rem;
  background: $brand-primary;
}
