@import "reset";
@import "tailwindcss";
@import "shared";
@import "fonts";
@import "typography";

html {
  font-family: $font-family-base, Arial, Helvetica, sans-serif;
  min-height: 100%;
}

body {
  font-size: $font-size-sm;
  background: $color-bg-body;
  color: $color-text-body;
}

img {
  max-width: 100%;

  @include for-desktop-up {
    width: auto;
  }
}

button {
  padding: 1rem;
  background: $brand-primary;
}
