// ==========================================================================
// Playground Card
// ==========================================================================

@import "../../styles/shared";

playground-card {
  display: block;
  margin-bottom: $space-sm;

  a {
    display: flex;
    align-items: center;
    font-size: $font-size-sm;

    svg {
      width: 30px;
      margin-left: 8px;

      path {
        fill: $brand-primary;
      }
    }
  }

  h3 {
    margin-bottom: $space-xs;
  }
}
