// ==========================================================================
// Project Detail
// ==========================================================================

@import "../../styles/shared";

project-detail {
  .client-logo {
    width: 20%;
    fill: $white;
    height: auto;
    opacity: 0.025;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    animation: moveIn 0.5s both;
  }

  h1 {
    span {
      animation: moveInText 0.5s both;
      display: block;
    }
  }

  .heroImg {
    animation: moveInHero 0.35s both;
  }
}

@keyframes moveIn {
  from {
    transform: translateY(-20%);
    //opacity: 0;
  }
  to {
    transform: translateY(20%);
    //opacity: 1;
  }
}

@keyframes moveInText {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes moveInHero {
  from {
    transform: translateY(-1%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
