// ==========================================================================
// Project Detail
// ==========================================================================

@import "../../styles/shared";

project-detail {
  display: block;
  //margin: 0 auto;

  @include for-desktop-up {
    //width: 65%;
  }

  article header {
    margin-bottom: $space-lg;
    text-align: center;
    margin: 0 auto;

    @include for-desktop-up {
      width: 60%;
    }
  }

  .client-logo {
    // width: 20%;
    // fill: $white;
    // height: auto;
    // opacity: 0.025;
    // position: fixed;
    // top: 0;
    // right: -1.5%;
    // z-index: -1;
    // animation: moveIn 0.5s both;
    display: block;
    margin: 0 auto $space-sm;
    width: 60px;

    @include for-tablet-landscape-up {
      width: 80px;
    }
  }

  h1 {
    font-size: $font-size-sm;
    text-transform: uppercase;
    letter-spacing: 3px;

    span {
      animation: moveInText 0.5s both;
      display: inline-block;
      // padding-top: 1rem;
    }
  }

  h2 {
    margin-bottom: $space-sm;
  }

  h3, h4 {
    margin-bottom: $space-xs;
  }

  h3 {
    margin-top: $space-md;
    padding-top: $space-sm;
    border-top: 1px solid $brand-light;
  }
  .hero-container {
    animation: moveInHero 0.35s both;
    text-align: center;
    padding: $space-md 0;
    margin: 0 -#{$gutter-global} 0;

    @include for-tablet-portrait-up {
      margin: 0 auto $space-md;
    }

    .hero-img {
      width: 100%;

      @include for-tablet-portrait-up {
        width: auto;
        border: 2px solid $brand-light;
      }
    }
  }

  section {
    margin-bottom: $space-md;

    p {
      @include for-tablet-landscape-up {
        max-width: 70%;
      }
    }
  }

  section.roles {
    display: block;
    margin-bottom: $space-lg;

    @include for-tablet-landscape-up {
      margin: $space-md 0 $space-lg;
    }

    h2 {
      text-transform: uppercase;
      //color: $brand-primary;
      font-size: $font-size-sm;
      //text-align: center;
      font-weight: $font-weight-light;
      letter-spacing: 2px;

      @include for-tablet-landscape-up {
        font-size: $font-size-xs;
      }
    }

    ul {
      //border-left: 1px solid $brand-primary;
      @include list-none();
      display: flex;
      flex-flow: row wrap;
      margin: 0 -0.5rem;

      li {
        background: $brand-light;
        padding: 0 $space-xs;
        margin: $space-xxs;
        font-size: $font-size-sm;
        border-radius: $border-radius;
      }
    }
  }


  section.contributions {
    //background: lighten($brand-primary, 40%);
    //color: $brand-primary;
    display: block;
    margin-bottom: $space-lg;


    @include for-tablet-landscape-up {
      //width: 50%;
      margin: $space-md 0 $space-lg;

    }

    ul {
      padding-left: 1rem;

      @include for-tablet-landscape-up {
        //column-count: 2;
      }

      @include for-desktop-up {
        //column-count: 3;
      }

      li {
        line-height: 1.4;
        margin-bottom: $space-sm;
        //@include list-bulleted-checkmark();
      }
    }
  }

  section.thumbnail {
    figure {
      display: flex;
      figcaption {
        font-size: $font-size-xs;
        font-style: italic;
        margin: 0 1rem;
      }
    }
  }

  .btn-outline {
    color: $brand-primary;
    border: 2px solid $brand-primary;
    padding: $space-xs $space-sm;
    border-radius: $border-radius;
    display: inline-block;
    transition: all 0.2s;

    &:hover {
      background: $brand-primary;
      color: $white;
    }
  }

  .btn-link {
    color: $brand-primary;
    //border: 2px solid $brand-primary;
    padding: $space-xs $space-sm;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.2s;
    margin: 0 auto; // just a temp fix... delete later

    &:hover {
      text-decoration: underline;
    }
  }

  figure {
    img {
      //border: 2px solid $off-white;
      //border-radius: 1rem;
    }
  }

  .img-wrap {
    margin-bottom: $space-md;
  }

  .code-snippet {
    margin-bottom: $space-sm;
  }

  footer {
    padding: $space-sm 0;
    border-top: 1px solid $brand-light;
    border-bottom: 1px solid $brand-light;
    text-align: center;
    display: flex;
    font-size: $font-size-sm;
    justify-content: space-between;

    @include for-tablet-landscape-up {
      font-size: $font-size-xs;
    }
  }

  .projects-link--wrapper {
    display: flex;
    align-items: center;

    svg {
      margin-right: $space-xs;
    }
  }
}
