// ==========================================================================
// Project Detail
// ==========================================================================

@import "../../styles/shared";

project-detail {
  display: block;

  @include for-desktop-up {
    width: 65%;
  }

  .client-logo {
    width: 20%;
    fill: $white;
    height: auto;
    opacity: 0.025;
    position: fixed;
    top: 0;
    right: -1.5%;
    z-index: -1;
    animation: moveIn 0.5s both;
  }

  h1 {
    span {
      animation: moveInText 0.5s both;
      display: block;
    }
  }

  .heroImg {
    animation: moveInHero 0.35s both;
  }

  section {
    margin-bottom: $space-md;

    @include for-desktop-up {
      //width: 65%;
    }
  }

  section.roles {
    display: block;
    padding: $space-sm $space-sm $space-md;
    border-radius: 4px;

    @include for-desktop-up {
      width: 50%;
    }

    h2 {
      text-transform: uppercase;
      font-size: $font-size-xs;
      font-weight: $font-weight-light;
      letter-spacing: 2px;
      margin-bottom: $space-sm;
    }
  }
}

@keyframes moveIn {
  from {
    transform: translateY(-20%);
    //opacity: 0;
  }
  to {
    transform: translateY(20%);
    //opacity: 1;
  }
}

@keyframes moveInText {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes moveInHero {
  from {
    transform: translateY(-1%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
