// ==========================================================================
// Header
// ==========================================================================

@import "../../styles/shared";

header.global {
  width: 100%;
  //background: #fff;
  font-weight: $font-weight-regular;
  //padding: $space-md 0;
  text-align: center;

  a {
    color: $off-black;
    //text-transform: uppercase;
    margin-left: $space-md;
    font-size: $font-size-sm;
    padding: $space-md $space-xs;

    @include for-tablet-portrait-up {
      font-size: $font-size-xs;
      padding: $space-sm $space-xs;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  a.active {
    color: adjust-hue($brand-primary, 0%);
  }

  a.logo {
    color: $off-black;
    //font-family: "DDCHardware-Condensed";
    font-size: $font-size-sm;
    margin-left: 0;
    margin-right: auto;
    letter-spacing: 0;
  }
}
