// ==========================================================================
// Header
// ==========================================================================

@import "../../styles/shared";

header.global {
  width: 100%;
  //background: #fff;
  font-weight: $font-weight-regular;
  //padding: $space-md 0;

  nav {
    //display: none;
    display: flex;
    flex-direction: column;
    margin-top: $space-sm;
    text-align: center;

    @include for-tablet-portrait-up {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
      align-items: baseline;
      margin: $space-sm -#{$space-xs} 0;
    }


    a {
      color: $off-black;
      font-size: $font-size-sm;
      padding: $space-xs 0;
      transition: 0.5s background;

      @include for-tablet-portrait-up {
        font-size: $font-size-xs;
        margin-left: $space-sm;
        padding: $space-xxs $space-xs;
        border-radius: $border-radius;
      }
      &:hover {
        background: $brand-light;
        color: $brand-primary;
      }
    }

    a.active {
      color: $brand-primary;
    }

    a.logo {
      letter-spacing: 0;
      font-weight: $font-weight-medium;

      &.active {
        color: $off-black;
      }

      .job-title {
        margin-left: $space-xs;
        font-weight: $font-weight-regular;
      }

      @include for-tablet-portrait-up {
        font-size: $font-size-sm;
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}


